@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
h1{
  font-family: 'sofia';
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/img/watercolor.png");
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 60px;
  max-width: 600px;
  height: 320px;
  border: 3px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
